@media (max-width: 1550px) {

   // GALLERY 

.gallery {

   &__content {
      display: flex;
      flex-wrap: wrap;
      // border: 1px solid green;
   }
   
   &__container {
      // flex-grow: 0;
      width: 200px !important;
      // position: relative;
      height: 200px !important;
      // overflow: hidden;
      
      // img {
         // position: absolute;
      // }
   }
}

}