@media (max-width: 1550px) {
  .gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__container {
    width: 200px !important;
    height: 200px !important;
  }
}
/*# sourceMappingURL=media_queries.css.map */