@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900&display=swap');
@import './media_queries.scss';

@font-face {
   font-family: 'Century Gothic Regular';
   src: url('CenturyGothic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

$logoFont: 'Century Gothic Regular';
$mainFont: 'Lato', sans-serif;
$accentColor: #ffcc33;
$darkText: #333333;
$lightText: #999999;
$separator: #dddddd;
$lightBackground: #f3f3f3;
$transition: .3s ease-in-out;
$transitionFast: .2s ease-in-out;
$shadow: -2px 2px 5px 0px $separator;


html {
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

@mixin content-width {
   width: 940px;
   margin: 0 auto;
}

// logo

.logo {
   position: relative;
   width: 45px;
   height: 42px;
   border-radius: 3px 50% 50% 50%;
   font-family: $logoFont;

   &::before {
      content: 'e';
      position: absolute;
      top: -18px;
      left: 2px;
      transform: scaleY(.9);
      transform-origin: 0 0;
      font-size: 63px;
      color: #ffffff;
   }
}

// title of all section 

.section-title {
   @include content-width;
   padding-top: 165px;

   .title {
      text-align: center;
      font-family: $mainFont;
      color: $darkText;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;

      .title--bold {
         color: $accentColor;
         font-weight: 600;
      }
   }

   .subtitle {
      color: $lightText;
      font-family: $mainFont;
      font-size: 22px;
      font-style: italic;
      margin-top: 15px;
      text-align: center;
   }

   .separator {
      height: 2px;
      background: $separator;
      margin-top: 60px;
      position: relative;

      &__logo {
         position: absolute;
         top: -23px;
         left: 0;
         right: 0;
         margin: auto;
         background: $accentColor;
         @extend .logo;
         border-radius: 8px 50% 50% 50%;
         border: 5px solid white;
      }
   }
}




// ... main styles ...


// HEADER

.header-section {
   width: 100%;
   height: 120px;
   padding: 0 30px;
   display: flex;
   align-items: center; 
   background: white;
   z-index: 3;
   box-sizing: border-box;
   transition: $transition;

   .main-menu {
      @include content-width;
      display: flex;
      justify-content: space-between;
      align-items: inherit;
      box-sizing: border-box;

      &__logo {
         display: flex;
         text-align: left;
         font-family: $logoFont;
         cursor: pointer;
      }

      &__letter {
         @extend .logo;
         background: $accentColor;
         cursor: pointer;
      }

      &__text {
         font-size: 35px;
         color: #666666;
         margin-left: 5px;
      }

      &__items {
         list-style: none;
         padding: 0;
         margin: 0;
         font-family: $mainFont;
         width: 580px;
         display: flex;
         justify-content: space-between;
         align-content: center;
      }
      
      &__item {
         height: 55px;
         display: inline-block;
         text-transform: uppercase;
         font-size: 14px;
         box-sizing: border-box;
         align-items: inherit;
         font-weight: 700;
         border-bottom: 5px solid transparent;
         transition: $transition;
         
         &:hover {
            border-bottom-color: $accentColor;
         }

         a {
            display: block;
            padding: 18px 0;
            color: $darkText;
         }
      }
   }
}

// BANNER

.banner {
   background: url("../img/banner.png") no-repeat;
   background-position: center;
   background-size: cover; /*now this is known for the safari*/
   width: 100%;
   position: relative;
   height: 792px;
   
   &__content {
      position: absolute;
      top: 265px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: $mainFont;
   }

   &__title {
      color: $accentColor;
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
   }

   &__text {
      color: white;
      font-size: 22px;
      margin-top: 35px;
   }

   &__btn {
      background: none;
      border: none;
      font-size: 22px;
      padding: 25px 0;
      color: white;
      text-transform: uppercase;
      border-bottom: 4px solid $accentColor; 
      margin-top: 105px;
      cursor: pointer;
      transition: $transitionFast;

      &:hover {
         padding: 18px 15px;
         font-weight: 700;
         font-size: 15px;
         letter-spacing: 3px;
         background: rgba($color: $accentColor, $alpha: .4) ;
      }
   }
}

// SLOGAN

.slogan {
   background: $accentColor;
   color: white;
   
   &__content {
      @include content-width;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 102px 0 145px 0;
   }
   
   &__logo {
      display: flex;
      align-items: center;
      font-family: $logoFont;
      justify-content: center;
   }
   
   &__letter {
      position: relative;
      width: 45px;
      height: 42px;
      border-radius: 3px 50% 50% 50%;
      background: #ffffff;
     
      &::before {
         content: 'e';
         position: absolute;
         top: -18px;
         left: 2px;
         transform: scaleY(.9);
         transform-origin: 0 0;
         font-size: 63px;
         color: $accentColor;
      }
   }

   &__text {
      font-size: 35px;
      margin-left: 5px;
   }

   &__desc {
      font-family: $mainFont;
      font-size: 22px;
      width: 690px;
      text-align: center;
      margin-top: 60px;
   }

   &__desc--bold {
      font-weight: 600;
   }
}

// ABOUT

.about {

   &__content {
      @include content-width;
      margin-bottom: 112px;
      margin-top: 130px;
   }

   &__container {
      display: flex;
      justify-content: space-evenly;
   }

   &__container--leftSide {
      display: flex;
      flex-direction: column;
   }

   &__container--rightSide {
      display: flex;
      flex-direction: column-reverse;

      .about__item {
         flex-direction: row-reverse;
      }

      .about__desc {
         text-align: left;
      }
   }
   
   &__item {
      width: 425px;
      display: flex;
      margin-bottom: 45px;
      justify-content: space-between;
   }

   &__desc {
      width: 280px;
      display: flex;
      flex-direction: column;
      text-align: right;
      font-family: $mainFont;
      color: $lightText;

   }

   &__title {
      font-size: 20px;
      font-weight: 700;
      text-transform: capitalize;
   }

   &__text {
      margin-top: 20px;
      font-size: 16px;
   }

   &__icon {
      width: 117px;
      height: 110px;
      background: $accentColor;
      border-radius: 8px 50% 50% 50%;

   }

   &__img {
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
         margin: 0 auto;
         position: absolute;
      }
   }
}

// WORK

.work {
   margin-top: 116px;
   padding-bottom: 85px;
   background: $lightBackground;
   font-family: $mainFont;

   &__content {
      @include content-width;
      display: flex;
      justify-content: space-between;
   }

   &__about{
      width: 460px;
   }

   &__img {
      position: relative;
      width: 510px;
      height: 495px;
      margin-left: -50px;
      background: url("../img/work.png") no-repeat;
      background-position: left;
      background-size: cover;
   }

   &__socials {
      position: absolute;
      bottom: 0;
      display: flex;
      margin-left: 50px;
   }

   &__btn {
      width: 66px;
      height: 66px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $accentColor;
      transition: $transition;

      &:hover {
         background: white;
      }

      &:hover i {
         color: $accentColor;
      }

      i {
         color: white;
         font-size: 40px;
         transition: $transition;
      }
   }

   &__slogan {
      margin-top: 60px;
      padding: 0 50px;
      font-size: 27px;
      color: $darkText;
      text-align: center;
   }

   &__slogan--bold {
      font-size: 30px;
      font-weight: 700;
   }

   &__info {
      width: 420px;
      margin-top: 62px;
      color: $lightText;
      font-size: 14px;
   }

   &__title {
      font-size: 24px;
      font-weight: 700;
      color: $darkText;
      text-transform: capitalize;
   }

   &__desc {
      margin: 45px 0 80px 0;
      line-height: 20px;
   }

   &__skills {
      margin-bottom: 23px;
   }

   &__skill {
      position: relative;
      width: 100%;
      height: 12px;
      margin-top: 7px;
      background: $lightText;
   }

   &__skill--progress {
      position: absolute;
      height: 12px;
      background: $accentColor;
      width: 0;
   }

   .ui-progress {
      width: 100%;
   }
   
   .html-progress {
      width: 90%;
   }

   .js-progress {
      width: 80%;
   }

   .wp-progress {
      width: 70%;
   }

   .php-progress {
      width: 70%;
   }
}

// ACHIEVEMENTS

.achievements {
   width: 100%;
   background: $lightBackground;
   font-family: $mainFont;
   color: $darkText;
   border-top: 2px solid #d2d2d2;
   border-bottom: 2px solid #d2d2d2;
   margin-bottom: 100px;

   &__content {
      @include content-width;
      display: flex;
      justify-content: center;
   }

   &__container {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      border-left: 1px solid #d2d2d2;
      border-right: 1px solid #d2d2d2;

      &:nth-child(2) {
         border: none;
      }

      &:nth-child(3) {
         border-right: none;
      }
   }

   &__icon {
      color: $accentColor;
      font-size: 60px;
   }

   &__num {
      margin-top: 40px;
      font-size: 26px;
      font-weight: 700;
   }

   &__desc {
      margin-top: 10px;
      font-size: 16px;
      font-style: italic;
      color: $lightText;
      text-transform: capitalize;
   }
}

// FEATURE 

.feature {
   margin-top: 130px;
   padding: 107px 0 160px 0;
   background: $lightBackground;
   font-family: $mainFont;

   &__content {
      @include content-width;
      display: flex;
   }

   &__item {
      width: 300px;
      padding: 25px 25px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 5px;
      border-bottom: 3px solid #cccccc;
      cursor: pointer;
      transition:  $transitionFast;

      &:hover {
         background: $accentColor;
         border-bottom-color: #996600;

         .feature__icon, .feature__title, .feature__subtitle {
            color: #fff;
         }
      }
   }

   &__item--active {
      background: $accentColor;
      border-bottom-color: #996600;
      
      .feature__icon, .feature__title, .feature__subtitle {
         color: #fff;
      }
   }

   &__icon {
      width: 40px;
      color: #333;
      font-size: 36px;
      transition:  $transitionFast;
      text-align: center;

   }

   &__title {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 700;
      color: $darkText;
      text-transform: uppercase;
      transition:  $transitionFast;
   }
   
   &__subtitle {
      display: block;
      margin-top: 6px;
      font-style: italic;
      color: $lightText;
      text-transform: lowercase;
      transition:  $transition;
   }

   // feature info rt-side
   
   &__info {
      display: none;
      transition: 2s;
      flex-direction: column;
      margin-left: 100px;
   }

   &__name {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      color: $darkText;
      animation: featureName .5s ease-out;
   }

   &__text {
      margin-top: 25px;
      font-size: 16px;
      line-height: 24px;
      color: $lightText;
   }

   &__img {
      margin-top: 60px;
      width: 100%;
      height: 330px;
      display: block;

      img {
         height: auto;
         width: 100%;
      }
   }
}

#communication {
   display: flex;
}

// GALLERY 

.gallery {
   width: 100%;
   margin-top: 138px;
   margin-bottom: 115px;

   &__nav {
      display: flex;
      font-family: $mainFont;
      justify-content: center;
   }

   &__btn {
      padding: 10px 15px;
      margin-right: 4px;
      border: 1px solid #cccccc;
      text-transform: capitalize;
      font-size: 14px;
      color: $darkText;
      border-radius: 3px;
      cursor: pointer;
      transition: $transition;

      &:hover {
         background: #f1f1f1;
      }
   }

   &__btn--active {
      background: #f1f1f1;
   }

   &__content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
   }
   
   &__container {
      position: relative;
      flex-grow: 1;
      width: 257px;
      height: 257px;
      overflow: hidden;
      cursor: pointer;

      &:hover .gallery__hover {
         opacity: 1;
      }

      img {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
      }
   }

   &__hover {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba($color: $accentColor, $alpha: .6);
      z-index: 1;
      transition: $transition;
      opacity: 0;
      
      &:before {
         content: '';
         position: absolute;
         left: 10px;
         top: 10px;
         right: 10px;
         bottom: 10px;
         background: rgba($color: $accentColor, $alpha: .8);
         z-index: -1;
      }
   }

   &__icons {
      display: flex;
      justify-content: center;
   }
   
   &__icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      margin-right: 10px;
      transition: $transitionFast;
      
      &:last-child {
         margin-right: 0;
      }
      
      i {
         margin-top: 7px;
         font-size: 15px;
      }
      
      &:hover {
         background: #fff;
         color: $accentColor;
      }
   }

   &__desc {
      margin-top: 15px;
      font-family: $mainFont;
      font-size: 12px;
      text-align: center;
   }

   &__title {
      font-weight: 800;
      text-transform: uppercase;
      color: $darkText;
   }

   &__subtitle {
      margin-top: 5px;
      color: #996600;
      font-style: italic;
   }
}

// WORKFLOW

.workflow {
   margin-top: 133px;
   background: $lightBackground;

   &__content {
      position: relative;
      padding: 122px 0 45px 0;
      width: 780px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__timeline {
      position: absolute;
      top: 0;
      left: 58px;
      height: 100%;
      width: 4px;
      background: #fff;
      z-index: 1;
   }

   &__container {
     display: flex; 
     justify-content: space-between;
     margin-bottom: 60px;

   }
   
   &__icon {
      width: 117px;
      height: 110px;
      background: $accentColor;
      border: 5px solid #fff;
      border-radius: 10px 50% 50% 50%;
      text-align: center;
      color: #fff;
      z-index: 2;
      
      i {
         font-size: 50px;
         margin-top: 30px;
      }
   }

   &__info {
      font-family: $mainFont;
      width: 600px;
      margin-top: 15px;
   }
   
   &__title {
      margin-right: 20px;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: $darkText;
   }

   &__text {
      margin-top: 10px;
      font-size: 14px;
      color: #666666;
      line-height: 20px;
   }
}

// PRICING 

.pricing {
   margin: 120px 0 100px 0;

   &__content {
      @include content-width;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $mainFont;
   }
   
   &__container {
      width: 320px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px solid $darkText;
      background: white;
      -webkit-box-shadow: inset -40px 0px 50px -51px $lightText;
      -moz-box-shadow: inset -40px 0px 50px -51px $lightText;
      box-shadow: inset -40px 0px 50px -51px $lightText;

      &:nth-child(2) {
         width: 300px;
         border: 1px solid $accentColor;
         transform: scale(1.03);
         z-index: 2;
         box-shadow: none;

         .pricing__title {
            background: $accentColor;
         }

         .pricing__cost {
            border-bottom: 1px solid $accentColor;
            padding: 22px 0 40px 0;
         }

         .pricing__btn {
            background: $accentColor;
            margin-top: 40px;

            &:hover {
               background: darken($accentColor, 12%);
            }
         }
      }

      &:nth-child(3) {
         -webkit-box-shadow: inset 91px -15px 45px -100px $lightText;
         -moz-box-shadow: inset 91px -15px 45px -100px $lightText;
         box-shadow: inset 91px -15px 45px -100px $lightText;   
      }
   }
   
   &__title {
      padding: 35px 0 35px 0;
      background: $darkText; 
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
   }

   &__cost {
      position: relative;
      border-bottom: 1px solid #666666;
      color: #666666;
      font-weight: 700;
      display: flex;
      justify-content: center;
      padding: 22px 0;
   }
   
   &__currency {
      font-size: 34px;
      margin-right: 3px;
   }
    
   &__num {
      font-size: 65px;
      line-height: 55px;
   }
   
   &__term {
      font-size: 26px;
      font-weight: 400;
      align-self: flex-end;
   }

   &__info {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
      color: #838383;
   }

   &__btn {
      margin: 25px 35px 0 35px;
      padding: 15px 0;
      background: $darkText;
      text-align: center;
      border-radius: 3px;
      color: white;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      transition: $transition;

      &:hover {
         background: darken($darkText, 15%);
      }
   }

   &__offer {
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
      margin: 10px 0;
      color: #999999;
   }
}

// BLOG

.blog {
   margin: 135px 0 10px 0;
   padding: 120px 0 110px 0;
   background: $lightBackground;
   font-family: $mainFont;
   
   &__content {
      @include content-width;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
   }
   
   &__container {
      width: 450px;
      margin: 10px;
      background: white;
      box-sizing: border-box;
      border: 2px solid #eeeeee;
      border-radius: 5px;
      transition: $transition;
      cursor: pointer;

      &:hover {
         border: 2px solid $accentColor;
         box-shadow: $shadow;
      }

      &:hover .blog__title {
         color: $accentColor;
      }
   }

   &__desc {
      display: flex;
      padding: 17px 20px 15px 20px;
   }

   &__img {
      min-width: 148px;
      height: 148px;
      overflow: hidden;
      border: 1px solid #cccccc;
      
      img {
         width: 250px;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
   }

   &__date {
      font-size: 11px;
      color: #a0a0a0;
   }

   &__title {
      font-size: 16px;
      color: #666666;
      margin-top: 10px;
      font-weight: 700;
      transition: $transitionFast;
   }

   &__text {
      position: relative;
      margin-top: 10px;
      height: 65px;
      overflow: hidden;
      font-size: 14px;
      color: #999999;

      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         right: 0;
         width: 30px;
         height: 15px;
         background: rgb(255,255,255);
         background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
      }
      
      &::after {
         content: "...";
         color: $separator;
         font-family: $mainFont;
         position: absolute;
         bottom: 3px;
         right: 0px;
      }
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      border-top: 2px solid #eeeeee;
      padding: 5px 15px 5px 20px;
   }

   &__about {
      color: $accentColor;
   }

   &__author, &__comments, &__more {

      &:hover {
         text-decoration: underline;
      }
   }

   &__slash {
      color: #cfcfcf;
      margin: 0 6px;
   }

   &__likes {
      background: #f4f4f4;
      display: flex;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
         background: #ececec;
      }
   }

   &__heart {
      i {
         color: #ff0707;
      }
   }
   
   &__likesCounter {
      color: #797979;
      margin-left: 15px;
      font-weight: 700;

   }

   &__btn {
      width: 148px;
      margin: 0 auto;
      margin-top: 50px;
      text-transform: capitalize;
      background: $accentColor;
      border: 1px solid #e5e4e4;
      text-align: center;
      padding: 10px 0;
      font-weight: 700;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: $transitionFast;

      &:hover {
         background: darken($color: $accentColor, $amount: 10%);
      }

   }
}

// MAP

.map {
   margin-top: 120px;
}

#map {
   width: 100%;
   height: 485px;
}

// CONTACT

.contact {
   margin: 85px 0 160px 0;
   &__content {
      @include content-width;
      font-family: $mainFont;
      display: flex;
      flex-direction: column;
   }
   
   &__container {
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
   }
   
   &__icons {
      width: 240px;
   }

   &__icon {
      margin: 0 auto;
      width: 117px;
      height: 110px;
      background: $accentColor;
      border-radius: 10px 50% 50% 50%;
      text-align: center;
      color: #fff;
      
      i {
         font-size: 50px;
         margin-top: 30px;
      }
   }

   &__info {
      width: 240px;
      margin-top: 20px;
      font-size: 18px;
      font-weight: 700;
      color: #666666;
      text-align: center;
   }
}

.form {
   @include content-width;
   margin-top: 80px;
   font-family: $mainFont;

   &__part {
      display: flex;
   }

   &__inputs {
      margin: 0 20px 12px 0;
      flex: 1 1 0;

      &:last-child {
         margin-right: 0;
      }
   }

   &__message {
      width: 100%;
      box-sizing: border-box;
      outline: none;
      border-radius: 3px;
      border: 1px solid #cccccc;
      padding: 17px 15px;
      color: $darkText;
      font-size: 16px;
      transition: $transitionFast;
      font-weight: 700;
      resize: none;

      &::placeholder {
         font-size: 14px;
         font-weight: 700;
         text-transform: capitalize;
         color: $lightText;
      }
      
      &:focus {
         border-color: $accentColor;
      }
   }
}

input {
   padding: 17px 15px;
   border-radius: 3px;
   outline: none;
   border: 1px solid #cccccc;
   color: $darkText;
   font-size: 16px;
   font-weight: 700;
   transition: $transitionFast;

   &::placeholder {
      font-size: 14px;
      font-weight: 700;
      text-transform: capitalize;
      color: $lightText;
   }

   &:focus {
      border-color: $accentColor;
   }
}

// COPYRIGHT

.copyright {
   background: $accentColor;
   padding: 50px 0;

   &__content {
      @include content-width;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
   }

   &__text {
      font-family: $mainFont;
      font-size: 16px;
      font-weight: 700;
   }

   &__icons {
      font-size: 20px;
      
      a {
         color: white;
      }

      i {
         margin-left: 15px;
         cursor: pointer;
         transition: $transition;

         &:hover {
            text-shadow: -3px 3px 3px darken($color: $accentColor, $amount: 15);
         }
      }
   }
}

// TO TOP BUTTON
.top {
   display: none;
   width: 50px;
   height: 50px;
   position: fixed;
   bottom: 50px;
   right: 50px;
   background: $accentColor;
   color: white;
   border-radius: 50%;
   box-shadow: $shadow;
   text-align: center;
   cursor: pointer;
   transition: $transition;

   &:hover {
      background: darken($color: $accentColor, $amount: 11);
   }

   &:hover i {
      margin-top: 6px;
   }

   i {
      font-size: 26px;
      margin-top: 10px;
      transition: $transitionFast;
   }
}

// PRELOADER

#loader {
   position: fixed;
   top: 0;
   left: 0;
   margin: 0 auto;
   background: white;
   width: 100%;
   height: 100%;
   z-index: 5;
}
.loader__wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80px;
   height: 80px;
}
.loader__circle {
   width: 80px;
   height: 80px;
   border: 8px solid #f3f3f3; 
   border-top: 8px solid $accentColor; 
   box-sizing: border-box;
   border-radius: 50%;
   animation: spin 2s linear infinite;
 }





// KEYFRAMES

 @keyframes spin {
   0% {
       transform: rotate(0deg); 
   }
   100% { 
      transform: rotate(360deg); 
   }
 }

@keyframes scrollTop {
   0% {
      bottom: 0;
      opacity: 0;
   }

  100% {
      opacity: 1;
      bottom: 50px;
  }
}


@keyframes fadeInFromNone {
   0% {
       opacity: 0;
   }

   1% {
       opacity: 0;
   }

   100% {
       opacity: 1;
   }
}

@keyframes featureName {
   0% {
      opacity: 0;
      margin-left: 50px;
  }

  100% {
     opacity: 1;
     margin-left: 0;
  }
}

@keyframes skillsFilled {
   0% {
      width: 0%;
   } 

   100% {
      width: none;
   }
}