@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900&display=swap");
@media (max-width: 1550px) {
  .gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__container {
    width: 200px !important;
    height: 200px !important;
  }
}

@font-face {
  font-family: 'Century Gothic Regular';
  src: url("CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.logo, .section-title .separator__logo, .header-section .main-menu__letter {
  position: relative;
  width: 45px;
  height: 42px;
  border-radius: 3px 50% 50% 50%;
  font-family: "Century Gothic Regular";
}

.logo::before, .section-title .separator__logo::before, .header-section .main-menu__letter::before {
  content: 'e';
  position: absolute;
  top: -18px;
  left: 2px;
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  font-size: 63px;
  color: #ffffff;
}

.section-title {
  width: 940px;
  margin: 0 auto;
  padding-top: 165px;
}

.section-title .title {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.section-title .title .title--bold {
  color: #ffcc33;
  font-weight: 600;
}

.section-title .subtitle {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-style: italic;
  margin-top: 15px;
  text-align: center;
}

.section-title .separator {
  height: 2px;
  background: #dddddd;
  margin-top: 60px;
  position: relative;
}

.section-title .separator__logo {
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffcc33;
  border-radius: 8px 50% 50% 50%;
  border: 5px solid white;
}

.header-section {
  width: 100%;
  height: 120px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-section .main-menu {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .main-menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-family: "Century Gothic Regular";
  cursor: pointer;
}

.header-section .main-menu__letter {
  background: #ffcc33;
  cursor: pointer;
}

.header-section .main-menu__text {
  font-size: 35px;
  color: #666666;
  margin-left: 5px;
}

.header-section .main-menu__items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-section .main-menu__item {
  height: 55px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header-section .main-menu__item:hover {
  border-bottom-color: #ffcc33;
}

.header-section .main-menu__item a {
  display: block;
  padding: 18px 0;
  color: #333333;
}

.banner {
  background: url("../img/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  /*now this is known for the safari*/
  width: 100%;
  position: relative;
  height: 792px;
}

.banner__content {
  position: absolute;
  top: 265px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.banner__title {
  color: #ffcc33;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.banner__text {
  color: white;
  font-size: 22px;
  margin-top: 35px;
}

.banner__btn {
  background: none;
  border: none;
  font-size: 22px;
  padding: 25px 0;
  color: white;
  text-transform: uppercase;
  border-bottom: 4px solid #ffcc33;
  margin-top: 105px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.banner__btn:hover {
  padding: 18px 15px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  background: rgba(255, 204, 51, 0.4);
}

.slogan {
  background: #ffcc33;
  color: white;
}

.slogan__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 102px 0 145px 0;
}

.slogan__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Century Gothic Regular";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slogan__letter {
  position: relative;
  width: 45px;
  height: 42px;
  border-radius: 3px 50% 50% 50%;
  background: #ffffff;
}

.slogan__letter::before {
  content: 'e';
  position: absolute;
  top: -18px;
  left: 2px;
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  font-size: 63px;
  color: #ffcc33;
}

.slogan__text {
  font-size: 35px;
  margin-left: 5px;
}

.slogan__desc {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  width: 690px;
  text-align: center;
  margin-top: 60px;
}

.slogan__desc--bold {
  font-weight: 600;
}

.about__content {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 112px;
  margin-top: 130px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__container--leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__container--rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.about__container--rightSide .about__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__container--rightSide .about__desc {
  text-align: left;
}

.about__item {
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__desc {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  font-family: "Lato", sans-serif;
  color: #999999;
}

.about__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.about__text {
  margin-top: 20px;
  font-size: 16px;
}

.about__icon {
  width: 117px;
  height: 110px;
  background: #ffcc33;
  border-radius: 8px 50% 50% 50%;
}

.about__img {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img img {
  margin: 0 auto;
  position: absolute;
}

.work {
  margin-top: 116px;
  padding-bottom: 85px;
  background: #f3f3f3;
  font-family: "Lato", sans-serif;
}

.work__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__about {
  width: 460px;
}

.work__img {
  position: relative;
  width: 510px;
  height: 495px;
  margin-left: -50px;
  background: url("../img/work.png") no-repeat;
  background-position: left;
  background-size: cover;
}

.work__socials {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.work__btn {
  width: 66px;
  height: 66px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffcc33;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.work__btn:hover {
  background: white;
}

.work__btn:hover i {
  color: #ffcc33;
}

.work__btn i {
  color: white;
  font-size: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.work__slogan {
  margin-top: 60px;
  padding: 0 50px;
  font-size: 27px;
  color: #333333;
  text-align: center;
}

.work__slogan--bold {
  font-size: 30px;
  font-weight: 700;
}

.work__info {
  width: 420px;
  margin-top: 62px;
  color: #999999;
  font-size: 14px;
}

.work__title {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-transform: capitalize;
}

.work__desc {
  margin: 45px 0 80px 0;
  line-height: 20px;
}

.work__skills {
  margin-bottom: 23px;
}

.work__skill {
  position: relative;
  width: 100%;
  height: 12px;
  margin-top: 7px;
  background: #999999;
}

.work__skill--progress {
  position: absolute;
  height: 12px;
  background: #ffcc33;
  width: 0;
}

.work .ui-progress {
  width: 100%;
}

.work .html-progress {
  width: 90%;
}

.work .js-progress {
  width: 80%;
}

.work .wp-progress {
  width: 70%;
}

.work .php-progress {
  width: 70%;
}

.achievements {
  width: 100%;
  background: #f3f3f3;
  font-family: "Lato", sans-serif;
  color: #333333;
  border-top: 2px solid #d2d2d2;
  border-bottom: 2px solid #d2d2d2;
  margin-bottom: 100px;
}

.achievements__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievements__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}

.achievements__container:nth-child(2) {
  border: none;
}

.achievements__container:nth-child(3) {
  border-right: none;
}

.achievements__icon {
  color: #ffcc33;
  font-size: 60px;
}

.achievements__num {
  margin-top: 40px;
  font-size: 26px;
  font-weight: 700;
}

.achievements__desc {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  color: #999999;
  text-transform: capitalize;
}

.feature {
  margin-top: 130px;
  padding: 107px 0 160px 0;
  background: #f3f3f3;
  font-family: "Lato", sans-serif;
}

.feature__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item {
  width: 300px;
  padding: 25px 25px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 5px;
  border-bottom: 3px solid #cccccc;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.feature__item:hover {
  background: #ffcc33;
  border-bottom-color: #996600;
}

.feature__item:hover .feature__icon, .feature__item:hover .feature__title, .feature__item:hover .feature__subtitle {
  color: #fff;
}

.feature__item--active {
  background: #ffcc33;
  border-bottom-color: #996600;
}

.feature__item--active .feature__icon, .feature__item--active .feature__title, .feature__item--active .feature__subtitle {
  color: #fff;
}

.feature__icon {
  width: 40px;
  color: #333;
  font-size: 36px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.feature__title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.feature__subtitle {
  display: block;
  margin-top: 6px;
  font-style: italic;
  color: #999999;
  text-transform: lowercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.feature__info {
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

.feature__name {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  -webkit-animation: featureName .5s ease-out;
          animation: featureName .5s ease-out;
}

.feature__text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.feature__img {
  margin-top: 60px;
  width: 100%;
  height: 330px;
  display: block;
}

.feature__img img {
  height: auto;
  width: 100%;
}

#communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery {
  width: 100%;
  margin-top: 138px;
  margin-bottom: 115px;
}

.gallery__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__btn {
  padding: 10px 15px;
  margin-right: 4px;
  border: 1px solid #cccccc;
  text-transform: capitalize;
  font-size: 14px;
  color: #333333;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery__btn:hover {
  background: #f1f1f1;
}

.gallery__btn--active {
  background: #f1f1f1;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.gallery__container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 257px;
  height: 257px;
  overflow: hidden;
  cursor: pointer;
}

.gallery__container:hover .gallery__hover {
  opacity: 1;
}

.gallery__container img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 204, 51, 0.6);
  z-index: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.gallery__hover:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(255, 204, 51, 0.8);
  z-index: -1;
}

.gallery__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.gallery__icon:last-child {
  margin-right: 0;
}

.gallery__icon i {
  margin-top: 7px;
  font-size: 15px;
}

.gallery__icon:hover {
  background: #fff;
  color: #ffcc33;
}

.gallery__desc {
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-align: center;
}

.gallery__title {
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
}

.gallery__subtitle {
  margin-top: 5px;
  color: #996600;
  font-style: italic;
}

.workflow {
  margin-top: 133px;
  background: #f3f3f3;
}

.workflow__content {
  position: relative;
  padding: 122px 0 45px 0;
  width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workflow__timeline {
  position: absolute;
  top: 0;
  left: 58px;
  height: 100%;
  width: 4px;
  background: #fff;
  z-index: 1;
}

.workflow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.workflow__icon {
  width: 117px;
  height: 110px;
  background: #ffcc33;
  border: 5px solid #fff;
  border-radius: 10px 50% 50% 50%;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.workflow__icon i {
  font-size: 50px;
  margin-top: 30px;
}

.workflow__info {
  font-family: "Lato", sans-serif;
  width: 600px;
  margin-top: 15px;
}

.workflow__title {
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #333333;
}

.workflow__text {
  margin-top: 10px;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}

.pricing {
  margin: 120px 0 100px 0;
}

.pricing__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.pricing__container {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  border: 1px solid #333333;
  background: white;
  -webkit-box-shadow: inset -40px 0px 50px -51px #999999;
  box-shadow: inset -40px 0px 50px -51px #999999;
}

.pricing__container:nth-child(2) {
  width: 300px;
  border: 1px solid #ffcc33;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pricing__container:nth-child(2) .pricing__title {
  background: #ffcc33;
}

.pricing__container:nth-child(2) .pricing__cost {
  border-bottom: 1px solid #ffcc33;
  padding: 22px 0 40px 0;
}

.pricing__container:nth-child(2) .pricing__btn {
  background: #ffcc33;
  margin-top: 40px;
}

.pricing__container:nth-child(2) .pricing__btn:hover {
  background: #f5b800;
}

.pricing__container:nth-child(3) {
  -webkit-box-shadow: inset 91px -15px 45px -100px #999999;
  box-shadow: inset 91px -15px 45px -100px #999999;
}

.pricing__title {
  padding: 35px 0 35px 0;
  background: #333333;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.pricing__cost {
  position: relative;
  border-bottom: 1px solid #666666;
  color: #666666;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px 0;
}

.pricing__currency {
  font-size: 34px;
  margin-right: 3px;
}

.pricing__num {
  font-size: 65px;
  line-height: 55px;
}

.pricing__term {
  font-size: 26px;
  font-weight: 400;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pricing__info {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #838383;
}

.pricing__btn {
  margin: 25px 35px 0 35px;
  padding: 15px 0;
  background: #333333;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pricing__btn:hover {
  background: #0d0d0d;
}

.pricing__offer {
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  color: #999999;
}

.blog {
  margin: 135px 0 10px 0;
  padding: 120px 0 110px 0;
  background: #f3f3f3;
  font-family: "Lato", sans-serif;
}

.blog__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog__container {
  width: 450px;
  margin: 10px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.blog__container:hover {
  border: 2px solid #ffcc33;
  -webkit-box-shadow: -2px 2px 5px 0px #dddddd;
          box-shadow: -2px 2px 5px 0px #dddddd;
}

.blog__container:hover .blog__title {
  color: #ffcc33;
}

.blog__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 20px 15px 20px;
}

.blog__img {
  min-width: 148px;
  height: 148px;
  overflow: hidden;
  border: 1px solid #cccccc;
}

.blog__img img {
  width: 250px;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.blog__date {
  font-size: 11px;
  color: #a0a0a0;
}

.blog__title {
  font-size: 16px;
  color: #666666;
  margin-top: 10px;
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.blog__text {
  position: relative;
  margin-top: 10px;
  height: 65px;
  overflow: hidden;
  font-size: 14px;
  color: #999999;
}

.blog__text::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 15px;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.4)), color-stop(50%, white), to(white));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, white 50%, white 100%);
}

.blog__text::after {
  content: "...";
  color: #dddddd;
  font-family: "Lato", sans-serif;
  position: absolute;
  bottom: 3px;
  right: 0px;
}

.blog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  border-top: 2px solid #eeeeee;
  padding: 5px 15px 5px 20px;
}

.blog__about {
  color: #ffcc33;
}

.blog__author:hover, .blog__comments:hover, .blog__more:hover {
  text-decoration: underline;
}

.blog__slash {
  color: #cfcfcf;
  margin: 0 6px;
}

.blog__likes {
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.blog__likes:hover {
  background: #ececec;
}

.blog__heart i {
  color: #ff0707;
}

.blog__likesCounter {
  color: #797979;
  margin-left: 15px;
  font-weight: 700;
}

.blog__btn {
  width: 148px;
  margin: 0 auto;
  margin-top: 50px;
  text-transform: capitalize;
  background: #ffcc33;
  border: 1px solid #e5e4e4;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.blog__btn:hover {
  background: #ffbf00;
}

.map {
  margin-top: 120px;
}

#map {
  width: 100%;
  height: 485px;
}

.contact {
  margin: 85px 0 160px 0;
}

.contact__content {
  width: 940px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__icons {
  width: 240px;
}

.contact__icon {
  margin: 0 auto;
  width: 117px;
  height: 110px;
  background: #ffcc33;
  border-radius: 10px 50% 50% 50%;
  text-align: center;
  color: #fff;
}

.contact__icon i {
  font-size: 50px;
  margin-top: 30px;
}

.contact__info {
  width: 240px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #666666;
  text-align: center;
}

.form {
  width: 940px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: "Lato", sans-serif;
}

.form__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__inputs {
  margin: 0 20px 12px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.form__inputs:last-child {
  margin-right: 0;
}

.form__message {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 17px 15px;
  color: #333333;
  font-size: 16px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  resize: none;
}

.form__message::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

.form__message:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

.form__message::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

.form__message::placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

.form__message:focus {
  border-color: #ffcc33;
}

input {
  padding: 17px 15px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cccccc;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

input::placeholder {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #999999;
}

input:focus {
  border-color: #ffcc33;
}

.copyright {
  background: #ffcc33;
  padding: 50px 0;
}

.copyright__content {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.copyright__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.copyright__icons {
  font-size: 20px;
}

.copyright__icons a {
  color: white;
}

.copyright__icons i {
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.copyright__icons i:hover {
  text-shadow: -3px 3px 3px #e6ac00;
}

.top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #ffcc33;
  color: white;
  border-radius: 50%;
  -webkit-box-shadow: -2px 2px 5px 0px #dddddd;
          box-shadow: -2px 2px 5px 0px #dddddd;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.top:hover {
  background: #fabb00;
}

.top:hover i {
  margin-top: 6px;
}

.top i {
  font-size: 26px;
  margin-top: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.loader__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.loader__circle {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ffcc33;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scrollTop {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 50px;
  }
}

@keyframes scrollTop {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 50px;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes featureName {
  0% {
    opacity: 0;
    margin-left: 50px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes featureName {
  0% {
    opacity: 0;
    margin-left: 50px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-webkit-keyframes skillsFilled {
  0% {
    width: 0%;
  }
  100% {
    width: none;
  }
}

@keyframes skillsFilled {
  0% {
    width: 0%;
  }
  100% {
    width: none;
  }
}
/*# sourceMappingURL=styles.css.map */