@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.wrapper .buttons {
  margin: 20px 0;
}

.wrapper .buttons button {
  padding: 7px 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.wrapper .buttons .save {
  background-color: #8fbfe5;
}

.wrapper .buttons .save:hover {
  background-color: #519cd7;
}

.wrapper .buttons .clear {
  background-color: #83cfa5;
}

.wrapper .buttons .clear:hover {
  background-color: #4cba7d;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content #map {
  height: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 600px;
  margin: 0 10px 20px 0;
}

.main-content .list-wrapper {
  padding: 0;
  margin: 0;
}

.main-content .list-wrapper .delete {
  display: none;
  width: 100%;
  padding: 7px 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  background-color: #e79191;
}

.main-content .list-wrapper .delete:hover {
  background-color: #d95252;
}

.main-content .list-wrapper li {
  position: relative;
  width: 220px;
  padding: 7px 7px 7px 30px;
  margin: 3px 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  background-color: #8fbfe5;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.main-content .list-wrapper li::before {
  content: "\f3c5";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 15px;
  left: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.main-content .list-wrapper li:hover {
  background-color: #519cd7;
}

.disabled {
  background-color: #DCDCDC !important;
  pointer-events: none;
}
/*# sourceMappingURL=styles.css.map */