@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$mainFont: 'Roboto', sans-serif;
$saveBtnBg : rgb(143, 191, 229);
$clearBtnBg: rgb(131, 207, 165);
$deleteBtnBg: rgb(231, 145, 145);

html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;

  .buttons {
    margin: 20px 0;
    button {
      padding: 7px 15px;
      font-family: $mainFont;
      color: white;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      transition: .2s;
      cursor: pointer;
    }

    .save {
      background-color: $saveBtnBg;
      &:hover {
        background-color: darken($saveBtnBg, 15%);
      }
    }

    .clear {
      background-color: $clearBtnBg;
      &:hover {
        background-color: darken($clearBtnBg, 15%);
      }
    }
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;

  #map {
    height: 400px;
    flex-grow: 1;
    min-width: 600px;
    margin: 0 10px 20px 0;
  }

  .list-wrapper {
    padding: 0;
    margin: 0;

    .delete {
      display: none;
      width: 100%;
      padding: 7px 15px;

      font-family: $mainFont;
      color: white;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      transition: .2s;
      cursor: pointer;
      background-color: $deleteBtnBg;
      &:hover {
        background-color: darken($deleteBtnBg, 15%);
      }
    }
  
    li {
      position: relative;
      width: 220px;
      padding: 7px 7px 7px 30px;
      margin: 3px 0;

      color: white;
      font-family: $mainFont;
      font-size: 12px;
      font-weight: 500;
      box-sizing: border-box;
      text-transform: uppercase;
      background-color: $saveBtnBg;
      transition: .2s;
      cursor: pointer;
      &::before {
        content: "\f3c5";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 15px;
        
        left: 10px;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
      }
      &:hover{
        background-color: darken($saveBtnBg, 15%);
      }
    }
  }
}

.disabled {
  background-color: #DCDCDC !important;
  pointer-events: none;
}
