$gradient: linear-gradient(to right, #776fff, #6e7fff, #698eff, #6a9bff, #71a7ff, #6bb2ff, #6bbdff, #71c7ff, #6fd3ff, #72deff, #7be8ff, #88f2ff);
$gradient-btn: linear-gradient(to right, #7772e5, #4c8cf1, #23a1f4, #28b3ef, #51c3e7, #51c3e7, #51c3e7, #51c3e7, #28b3ef, #23a1f4, #4c8cf1, #7772e5);
$gradient-transparent: linear-gradient(to right, #766fffb9, #6e7fffaf, #698fffa2, #6a9cff9d, #71a7ff83, #6bb3ff93, #6bbcff9a, #71c6ff8f, #6fd4ff88, #72deff7a, #7be9ff85, #88f1ff8c);;
$main-font: 'Lato', sans-serif;
$dark-text: #222222;
$light-text: #939393;
$title-size: 36px;
$common-size: 16px;
$bannerContentShadow: 0px 26px 43px 5px rgba(0,0,0,0.14);

%base-btn {
   width: 200px;
   padding: 17px 0;
   text-align: center;
   color: #ffffff;
   border-radius: 7px;
   transition: all .3s ease-in-out;
   cursor: pointer;
}

.section-title {
   padding: 100px 0 15px 0;
   font-size: $title-size;
   color: $dark-text;
   font-weight: 900;
   text-transform: uppercase;
   text-align: center;
}

.section-desc {
   font-size: $common-size;
   color: $light-text;
   line-height: 20px;
   width: 65%;
   margin: 0 auto;
   text-align: center;
}

.content-width {
   width: 1000px;
   margin: 0 auto;
}

body{
   font-family: $main-font;
}

a{
   text-decoration: none;
   color: #ffffff;
}