.section-title {
  padding: 100px 0 15px 0;
  font-size: 36px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.section-desc {
  font-size: 16px;
  color: #939393;
  line-height: 20px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.content-width {
  width: 1000px;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=basic.css.map */