@media screen and (max-width: 1250px) {
  .banner-content {
    width: 80%;
    padding: 20px;
  }
  .banner-content__info {
    width: 50%;
    padding: 20px 20px 20px 40px;
  }
  .feedbacks__wrapper {
    width: 100%;
    -ms-grid-columns: (300px)[5];
        grid-template-columns: repeat(5, 300px);
  }
  .feedbacks__container {
    padding: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .content-width {
    width: 80%;
  }
  .offering__containers {
    margin-top: 50px;
  }
  .offering__containers .container-wrapper {
    pointer-events: none;
  }
  .project {
    padding-bottom: 50px;
  }
  .project__container-wrapper {
    grid-gap: 30px;
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .project__container {
    margin-bottom: 15px;
  }
  .project__img {
    height: 270px;
  }
  .project__name {
    font-size: 17px;
    margin: 15px 0 2px 0;
  }
}

@media screen and (max-width: 900px) {
  .main-menu {
    display: none;
  }
  .main-menu-phone {
    display: block;
  }
  .banner-wrapper {
    padding: 200px 0 50px 0;
    height: auto;
  }
  .banner-content__greetings {
    top: -25px;
    font-size: 27px;
    -webkit-animation: none;
            animation: none;
  }
  .banner-content__greetings .greetings-hello {
    top: -30px;
    left: -50px;
    font-size: 45px;
    -webkit-animation: none;
            animation: none;
  }
  .banner-content__img {
    display: none;
  }
  .banner-content__info {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  .banner-content__name {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
  .banner-content__img-phone {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .banner-content__img-phone img {
    width: 100%;
    border-radius: 15px;
  }
  .banner-content__position {
    font-size: 17px;
    margin-top: 0px;
    text-align: center;
  }
  .banner-content__text {
    padding: 30px 40px 10px 40px;
  }
  .banner-content__contact {
    padding: 0px 40px 0px 40px;
  }
  .banner-content__socials {
    margin: 0 auto;
    margin-top: 30px;
  }
  .about-wrapper {
    padding: 100px 0 100px 0;
  }
  .offering__containers {
    margin-top: 50px;
    grid-gap: 25px;
    -ms-grid-columns: (300px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 300px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offering__containers .container-wrapper {
    height: auto;
    background: white;
    -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
  }
  .offering__containers .container-wrapper .icon {
    left: 12%;
    top: 30%;
  }
  .offering__containers .container-wrapper .icon i {
    font-size: 33px;
    background: -webkit-gradient(linear, left top, right top, from(#776fff), color-stop(#6e7fff), color-stop(#698eff), color-stop(#6a9bff), color-stop(#71a7ff), color-stop(#6bb2ff), color-stop(#6bbdff), color-stop(#71c7ff), color-stop(#6fd3ff), color-stop(#72deff), color-stop(#7be8ff), to(#88f2ff));
    background: linear-gradient(to right, #776fff, #6e7fff, #698eff, #6a9bff, #71a7ff, #6bb2ff, #6bbdff, #71c7ff, #6fd3ff, #72deff, #7be8ff, #88f2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .offering__containers .container-wrapper .title {
    top: 10%;
    font-size: 30px;
    left: 60%;
  }
  .offering__containers .container-wrapper .desc {
    color: #939393;
  }
  .contact {
    padding-bottom: 40px;
  }
  .contact__form {
    width: 70%;
    margin-top: 20px;
  }
  .social-networks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .content-width {
    width: 90%;
  }
  .experience {
    width: 80%;
  }
  .experience__content {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .experience__date {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 0;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    word-spacing: 5px;
    color: #ffffff;
  }
  .time-line {
    display: none;
  }
  .time-line-dot {
    display: none;
  }
  .time-line-dot::before {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .section-title {
    font-size: 26px;
  }
  .project__nav {
    padding-top: 20px;
  }
  .project__load-btn {
    width: 100%;
    margin-top: 30px;
  }
  .contact .submit-btn {
    width: 100%;
  }
  .banner-wrapper {
    padding: 170px 0 50px 0;
  }
  .banner-content {
    width: 90%;
    border-radius: 0;
  }
  .banner-content__greetings {
    top: -40px;
    left: 0;
    font-size: 20px;
  }
  .banner-content__greetings .greetings-hello {
    top: -40px;
    left: 0;
    font-size: 40px;
  }
  .banner-content__name {
    font-size: 30px;
  }
  .banner-content__text {
    padding: 10px;
  }
  .banner-content__contact {
    padding: 0 10px;
  }
  .about-wrapper {
    padding: 50px 0 50px 0;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .about__achievements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__achievements .item-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .experience-wrapper {
    padding: 50px 0 50px 0;
  }
  .experience__btn {
    margin-bottom: 50px;
  }
  .offering {
    padding-bottom: 50px;
  }
  .section-desc {
    width: 100%;
  }
  .section-title, .contact__title {
    padding: 50px 0 15px;
  }
  .project__nav {
    width: 90%;
  }
  .project__load-btn {
    margin-top: 50px;
  }
  .contact__form {
    width: 80%;
  }
  .social-networks {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 20px;
  }
}
/*# sourceMappingURL=media-queries.css.map */